@use './variables.module.scss' as v;

.baseLinksContaienr {
    margin-top: 132px;

    .baseLinksList {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        a {
            // color: v.$mainBlue;
            font-weight: bold;
            margin-right: 30px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}