@use './variables.module.scss' as v;

.charaMain {
    width: 100%;

    .intro {
        margin-bottom: 64px;
    }

    .charaNameList {
        display: flex;
        flex-wrap: wrap;

        .charaNameList__name {
            text-decoration: underline;
        }

        .charaNameList__item {
            margin: 8px 0;
        }

        .charaNameList__item::after {
            content: "/";
            padding: 0 12px;
        }

        .charaNameList__item:last-of-type:after {
            content: "";
            padding: 0;
        }

    }

    .charaWrapper {
        .charaItem {
            margin-top: -100px;
            padding-top: 100px;
            margin-bottom: 100px;
        }
    }

    ruby {
        rt {
            display: inline-block;
            font-size: 1.2rem;
            color: v.$mainBlue;
            padding-bottom: 4px;
        }
        rb {
            display: block;
            font-size: 1.6rem;
            font-weight: bold;
        }
    }

    .charaIntro {
        margin-top: 6px;
        margin-bottom: 8px;
    }

    .charaImage {
        margin: 24px 0;
        &__image {
            max-width: 200px;
            height: auto;
            margin-bottom: 8px;
        }

        &__inyouText {
            font-size: 1.2rem;
        }
    }
}