@use './variables.module.scss' as v;

.charaMain {
    width: 100%;

    .intro {
        margin-bottom: 64px;
    }

    .charaNameList {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 64px;

        .charaNameList__name {
            text-decoration: underline;
        }

        .charaNameList__item {
            margin: 8px 0;
        }

        .charaNameList__item::after {
            content: "/";
            padding: 0 12px;
        }

        .charaNameList__item:last-of-type:after {
            content: "";
            padding: 0;
        }

    }

    .charaWrapper {
        .charaItem {
            margin-top: -100px;
            padding-top: 100px;
            margin-bottom: 100px;
        }
    }

    ruby {
        rt {
            display: inline-block;
            font-size: 1.2rem;
            color: v.$mainBlue;
            padding-bottom: 4px;
        }
        rb {
            display: block;
            font-size: 1.6rem;
            font-weight: bold;
        }
    }

    .charaIntro {
        margin-top: 6px;
        margin-bottom: 8px;
    }

    .charaImage {
        margin: 24px 0;
        &__image {
            max-width: 200px;
            height: auto;
            margin-bottom: 8px;
        }

        &__inyouText {
            font-size: 1.2rem;
        }
    }

    .distillery {
        padding: 16px 0;

        .distillery__container {
            margin-left: 16px;

            .distillery__dt {
                width: 10%;
                margin: 0;
                padding: 4px 0;
            }
            .distillery__dd {
                width: 90%;
                margin: 0;
                padding: 4px 0;
            }
        }
    }

    @media screen and (max-width:768px) {
        .distillery {
            .distillery__container {
                margin-left: 0;
                font-size: 1.2rem;

                .distillery__dt {
                    width: 100%;
                }
                .distillery__dd {
                    width: 100%;
                    word-break: break-all;
                    padding-left: 16px;
                }
            }
        }
    }
}