.clothesMain {
    width: 100%;

    .intro {
        margin-bottom: 64px;
    }

    .info {
        margin: 24px auto 0;
        padding: 24px;
        background-color: #ECECEC;
        font-size: 1.2rem;
        border-radius: 10px;
    }
}