@media (max-width: 768px) {
    .shareFrame {
        padding: 16px 4px;
    }

    .shareWrapper span {
        margin-right: 0;
    }

    .shareWrapper svg {
        margin-right: 8px;
    }

    .shareButton {
        width: 100%;
    }
}
