/* A Modern CSS Reset */

*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

/* My Project */
html {
  font-size: 62.5%;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.2;
}

body {
  font-size: 1.4rem;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Shippori Mincho', serif, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 1.4;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 16px;
  position: relative;
  border-left: 3px solid #45D2DB;
  padding-left: 6px;
}

.head__en {
  position: absolute;
  color: #45D2DB;
  font-family: 'Homemade Apple', cursive;
  top: -10px;
  z-index: -1;
  font-size: 4rem;
  opacity: .4;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 14px;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

#__kamiinaBotan__root__ {
  position: relative;
  min-height: 100vh;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

.backHome {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  width: 156px;
  height: 94px;
  background-color: #45D2DB;
  border-radius: 41% 59% 58% 42% / 45% 49% 51% 55%;
  transition: .3s;
}

.backHomeLink {
  color: white;
  font-weight: bold;
  padding: 24px;
}

.backHome:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

header .narrowView {
  top: 0;
  left: 0;
  margin: auto !important;
  padding: 8px 16px !important;
  z-index: 100;
  border-top: 2px solid #45D2DB;
  border-bottom: 1px solid #cecece;
}

header .narrowView .subTitle {
  display: none;
}

.contents {
    margin-top: 100px;
    flex: 1;
}

.to-page-top-container {
  opacity: 0;
  display: inline-block;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  transition: .3s;
}

.to-page-top-container.--show {
  opacity: 1;
}

.to-page-top-container .to-page-top__text {
  font-size: 1.2rem;
}

.to-page-top {
  width: 20px;
  height: 20px;
  border-top: solid 2px black;
  border-right: solid 2px black;
  margin: auto;
  transform: rotate(315deg);
}