@use './variables.module.scss' as v;

.header {
    .alert {
        overflow: hidden;
        color: white;
        background-color: v.$mainBlue;
        padding: 8px 0;
        font-weight: bold;
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
    }

    .marqueeText {
        white-space: nowrap;
        width: fit-content;
        overflow-y: hidden;
    }

    .siteTitleWrapper {
        padding: 16px;
        position: fixed;
        background-color: white;
        width: 100vw;
        transition: .2s;
        left: 0;

        h1 {
            margin-bottom: 6px;
            display: inline-block;
        }

        .title_en {
            position: relative;
            font-size: 1.2rem;
            display: block;
            width: 230px;
            top: 30%;
        }

        p {
            display: inline-block;
            font-size: 1.1rem;
        }

        .siteTitleItem {
            display: inline-block;
            max-width: 736px;
            margin: 0 auto;
        }

        @media screen and (max-width: 768px) {
            p {
                display: block;
            }
            
        }
    }
}