@use './variables.module.scss' as v;

.intro {
    margin-bottom: 32px;
}

.quizContainer {
    .quiz {
        margin-bottom: 32px;

        .quizWrapper{
            margin-bottom: 24px;

            .quizList {
                margin-left: 16px;
                .quizList__item {
                    margin-bottom: 6px;
                }
            }
        }
    }
}

.answerButton {
    background-color: v.$mainGrey;
    border: none;
    padding: 16px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);

    width: 140px;
}

.answerButton__retry {
    margin-top: 32px;
    background-color: #eda126;
    padding: 16px;
    width: 192px;
}

.answerButton:hover {
    opacity: .8;
}

.answerButton__checkanswer {
    width: 192px;
    background-color: #54cc54;
}


.modalOnCover {
    position: absolute;
    width: 100vw;
    height: 3400px;
    overflow: hidden;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background: rgba(0,0,0,0.5);
    top: -600px;
    left: 0;
    z-index: 100;
}

.resultModal {
    position: fixed;
    z-index: 999;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    border-radius: 4px;
    width: 300px;
    height: 260px;
    padding: 32px;
}

.resultModal__item {
    padding: 16px;
    text-align: center;

    .resultModal__correnctPoint {
        color: red;
    }
}

.resultModal__share {
    margin: 24px 0;
    padding: 8px 16px;
    background-color: #429AE1;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    cursor: pointer;

    &:hover {
        opacity: .8;
    }

    .resultModal__shareText {
        color: white;
        font-weight: bold;
    }
}

.resultModal__ok {
    margin-top: 4px;
    padding: 4px 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}