/** position **/

.relative {
    position: relative;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.text-center {
    text-align: center;
}

.just-center {
    justify-content: center;
}

.just-between {
    justify-content: space-between;
}

.flex > * {
    margin-right: 16px;
}

/** text **/

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.textCenter {
    text-align: center;
}

.text_ms {
    font-size: 1.2rem;
}

/** top **/

.mt-60 {
    margin-top: 60px;
}

.mt-32 {
    margin-top: 32px;
}

.mt-24 {
    margin-top: 24px;
}

/** bottom **/

.mb-60 {
    margin-bottom: 60px;
}

.mb-16 {
    margin-bottom: 16px;
}

.separate {
    height: 1px;
    width: 100%;
    display: block;
    background-color: #cecece;
    margin: 40px 0;
}

/** bg **/
.bg {
    z-index: -1;
    position: fixed;
}

.left-_10 {
    left: -10%;
}

.right-_10 {
    right: -10%;
}

.top-10 {
    top: 10%;
}

.bottom-20 {
    bottom: 20%;
}

.--bubble {
    width: 420px;
    height: 380px;
    border-radius: 50%;
    opacity: .1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    will-change: transform;
    animation-duration: 12s
}

.--bubble-blue {
    background-color: #45D2DB;
    animation-name: bubble-rotate;
}

.--bubble-pink {
    background-color: #eb9ee4;
}

.--bubble-blue::after {
    content: "";
    background-color: #0b5bc5;
    width: 390px;
    height: 400px;
    border-radius: 50%;
    opacity: .4;
    display: block;
    animation-duration: 9s
}

.--bubble-pink::after {
    content: "";
    background-color: #eaf181;
    width: 390px;
    height: 400px;
    border-radius: 50%;
    opacity: .4;
    display: block;
    animation-duration: 9s
}

@media screen and (max-width: 768px) {
    .--bubble {
        width: 216px;
        height: 240px;
    }

    .--bubble-blue::after,
    .--bubble-pink::after {
        width: 220px;
        height: 200px;
    }
}

@keyframes bubble-rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}