.underline {
    text-decoration: underline;
}

.relative {
    position: relative;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex > * {
    margin-right: 16px;
}

.bold {
    font-weight: bold;
}

.textCenter {
    text-align: center;
}

.text_ms {
    font-size: 1.2rem;
}