.underline {
    text-decoration: underline;
}

.relative {
    position: relative;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.just-center {
    justify-content: center;
}

.just-between {
    justify-content: space-between;
}

.flex > * {
    margin-right: 16px;
}

.bold {
    font-weight: bold;
}

.textCenter {
    text-align: center;
}

.text_ms {
    font-size: 1.2rem;
}

.mt-60 {
    margin-top: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mt-32 {
    margin-top: 32px;
}

.mt-24 {
    margin-top: 24px;
}

.separate {
    height: 1px;
    width: 100%;
    display: block;
    background-color: #cecece;
    margin: 40px 0;
}